<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>hi</head>
<body>
<div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
            	<h2 class="frame-1">It's destroying the planet</h2>

            	<h2 class="frame-2">It's mass, mechanized murder</h2>

            	<h2 class="frame-3">You can stop it</h2>

            	<h2 class="frame-4">Now!</h2>

            	<h2 class="frame-5"><span>Save the planet.</span> <span>Love life.</span> <span>Go vegan.</span></h2>
	<a class="sp-circle-link" href="index2.html">Join us!</a>

        </div>
    </div>
</div>

</body>
</html>